:root {
  --primary: #000;
  --secondary: #80DEEA;
  --tertiary: #8a9597;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}
body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--primary);
}
header {
  height: 50vh;
  height: var(--heading-height);
  padding: 40px;
  text-align: center;
  color: white;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 10px;
}
.btn {
  background-image: linear-gradient(to bottom left, #62f9e5, #26C6DA);
}
#tools {
  border-radius: 50%;
  height: 2.5em;
  margin-top: 3px;
    background-image: linear-gradient(to bottom left, #f9ea62, #da9526);
}

#edit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

/*nav*/
#main-nav {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to bottom left, #62f9e5, #26C6DA);}
#main-nav a {
  color: var(--dark);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;}
#main-nav a:hover {
  background-color: #168c9c;}
.nav-tabs {
  margin-bottom: 0;}
.nav-tabs .nav-link.active {
  text-decoration: none;
  color: #26C6DA;}
.nav-tabs .nav-link {
  text-decoration: none;
  color: #26C6DA;}
  
/*log-in form*/
  .form-floating>label {
   margin-left: 10px;
  margin-top: 13px;
  float: left;

}



.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 7px 7px;
  padding: 20px;
  border-image: linear-gradient(to bottom,
      #62f9e5,
      #26C6DA,
      rgba(0, 0, 0, 0)) 1 100%;
}

/* PROFILE */
.form-edit {
  justify-content: end;}
.profile-input {
  border-bottom: 1px solid #ced4da;
  width: 300px;
  transition: .2s all ease-in-out;}
#profile-buttons {
  transition: 2s all ease-in-out;
  margin-left: 60px}
#profile-buttons button {
  width: 150px}
#profile-bio {
  width: 700px;
  height: 200px;
  resize: none;}
#profile-bio:disabled {
  border-bottom: #ced4da;}
.col-form-label {
  width: 75px;}
i {
  transition: .2s all ease-in-out;}
#profile-pic {
  cursor: pointer;
  width: 100px;}
#image-upload {
  display: none;}

  /* media queries */
@media screen and (min-width: 1000px) {
  #prof-container {
    display: grid;
    grid-template-columns: 1 fr 3fr;
  }}

