<!-- We are tracking the number of times we visit this homepage -->
  <div class="container w-50 flex-column justify-content-center align-items-center">

<h3>
  Number of times you've visited this homepage: {{countVisit}}
</h3>

<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

{{#each users as |user|}}
    <div class="row align-center mb-5">
      <div class="col-md-6">
        <h2>
          {{user.name}}
        </h2>
      </div>
      <div class="col-md-6">
        <h3>
          <a href="mailto:{{user.email}}">
            {{user.email}}
          </a>
        </h3>
      </div>
    </div>
  </div>
{{/each}}