{{#with userData}}
  {{> profile userId=../userId}}

<div class="edit-col justify-self-end col pe-2">
  <div class="text-end">
    {{#if (check_id id ../userId)}}
    <i id="edit-icon" class="bi bi-pencil-square"></i>
          <script src="/js/profile.js"></script>
    {{/if}}
  </div>
</div>
</div>

      {{/with}}