.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 7px 7px;
  padding: 20px;
}

.nav-tabs {
  margin-bottom: 0;
}

.nav-tabs .nav-link.active {
  text-decoration: none;
  color: rgb(47, 150, 0);
}

.nav-tabs .nav-link {
  text-decoration: none;
  color: rgb(2, 2, 2);
}

/* .form-floating > label {
  padding: 0;
} */

.profile-label{
  width:75px
}

.form-edit{
  justify-content: end;
}

.profile-input{
  border-bottom: 1px solid #ced4da;
  width: 300px;
  transition: .2s all ease-in-out;
}

#profile-buttons{
  transition: 2s all ease-in-out;
  margin-left: 60px
}
#profile-buttons button{
  width: 150px
}

#profile-bio{
  width: 700px;
  height: 200px;
  resize: none;
}

#profile-bio:disabled{
  border-bottom: #ced4da;
}

.col-form-label{
  width: 75px;
}

i{
  transition: .2s all ease-in-out;
}